@charset 'utf-8';
html {
    background: $sand;
}
body {
    background: mix(white, $sand, 90%);
    font-family: $body-font;
    color: $darkgrey;
    @include fontsmooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    @include font-weight(bold);
    color: $brown;
}

a {
    color: $link;
    @include text-decoration(none);

    &:hover {
        color: $hover;
    }
}

header {
    background: $sand;
    padding-top: 10px;
    margin-bottom: 10px;

    nav {
        margin: 10px 0 0;
    }

    .logos {
        margin-top: 5px;
    }
}

.logo {
    h1 {
        margin: 10px 0 0;
        line-height: 1;
    }

    h3 {
        margin-top: 0;
    }

    img {
        float: left;
        margin: 10px 10px 0 0;
    }

    a {
        &:hover {
            @include text-decoration(none);
        }
    }
}

section {
    h4 {
        color: $sand;
    }

    span {
        color: $sand;
    }
}

.contactbar {
    background: $cherry;
    color: $sand;
    margin-top: 10px;
    h4 {
        font-weight: normal;
    }
}

footer {
    background: $sand;
    p {
        color: $cherry;
        padding-top: 10px;
    }

    a {
        color: $cherry;

        &:hover {
            color: white;
        }
    }
}

#success {
    display: none;
}

.push-down {
    margin-top: 2px;
}

.navbar-default {
    background-color: $cherry;
    border-color: mix(white, $cherry, 25%);

    .navbar-brand {
        color: $colDefault;

        &:focus,
        &:hover {
            color: $colHighlight;
        }
    }

    .navbar-text {
        color: $colDefault;
    }

    .navbar-nav {
        > li {
            > a {
                color: $colDefault;

                &:focus,
                &:hover {
                    color: $colHighlight;
                }
            }
        }

        > .active {
             > a:focus,
             > a:hover,
            > a {
                color: $colHighlight;
                background-color: mix(white, $cherry, 25%);
            }
        }

        > .open {
             > a:focus,
             > a:hover,
            > a {
                color: $colHighlight;
                background-color: mix(white, $cherry, 25%);
            }
        }
    }

    .navbar-toggle {
        border-color: mix(white, $cherry, 25%);

        &:focus,
        &:hover {
            background-color: mix(white, $cherry, 25%);
        }

        .icon-bar {
            background-color: $colDefault;
        }
    }

    .navbar-collapse,
    .navbar-form {
        border-color: $colDefault;
    }

    .navbar-link {
        color: $colDefault;

        &:hover {
            color: $colHighlight;
        }
    }
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        > li > a {
            color: $colDefault;

            &:focus,
            &:hover {
                color: $colHighlight;
            }
        }

        > .active {
             > a:focus,
             > a:hover,
            > a {
                color: $colHighlight;
                background-color: mix(white, $cherry, 25%);
            }
        }
    }
}
