// Fonts
$heading-font: Muli, sans-serif;
$body-font: Open Sans, sans-serif;

//Branding colours
$brown: hsl(24, 17%, 34%); // #665448
$sand: hsl(43.6,36.7%,88.2%); // #ece6d6
$cherry: hsl(355, 69%, 29%); //#7F171F

//Defualt colours
$black: hsl(0,0%,0%); // #000000
$darkgrey: hsl(0,0%,20%); // #333333
$white: hsl(0,0%,100%); // #ffffff

// link colours
$link: $darkgrey;
$visited: $darkgrey;
$hover: $darkgrey;
$active: $brown;

$colDefault     : #ecf0f1;
$colHighlight   : #fdfdfd;
